NeuralNetwork_Testing/NN_Inputs/*
!NeuralNetwork_Testing/NN_Inputs/Create_NN_InputData.py
!NeuralNetwork_Testing/NN_Inputs/Create_NN_Input

NeuralNetwork_Testing/dataCIGE/*

NeuralNetwork_Testing/Saved_Objects/*

RandomForest/RFPrediction*.csv
RandomForest/OrderedDataset*.npy
RandomForest/images/*
RandomForest/Results.md
RandomForest/FlowerNumber.csv
RandomForest/FeatureImportance*.csv

CrossValidation