NeuralNetwork_Testing/NN_Inputs/PR/*
NeuralNetwork_Testing/NN_Inputs/SMSE/*
NeuralNetwork_Testing/NN_Inputs/Scaler_*.pkl

NeuralNetwork_Testing/dataCIGE/*

NeuralNetwork_Testing/Saved_Objects/*

RandomForest/RFPrediction*.csv
RandomForest/OrderedDataset*.npy
RandomForest/images/*
RandomForest/Results.md
RandomForest/FlowerNumber.csv
RandomForest/FeatureImportance*.csv

CrossValidation